/* Global set up */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #61a5c2;
  --color-light-blue: #a9d6e5;
  --color-dark-blue: #2a6f97;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-yellow: #fff1e6;
  --color-beige: #ebebe4;
  --color-black: #000000;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
}

/* universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  cursor: default;
}
a {
  color: var(--color-white);
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 5px 10px;
}
.navbar_logo {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}
.navbar_menu {
  display: flex;
}
.navbar_menu_item {
  padding: 4px 10px;
  margin: 0 4px;
  cursor: pointer;
}
.navbar_menu_item.active {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}
.navbar_menu_item:hover {
  color: var(--color-dark-blue);
  border-bottom: 1px solid var(--color-dark-blue);
}

/* Home */
#home {
  background-color: var(--color-blue);
  padding: 40px;
  text-align: center;
}
.home_avatar {
  width: 200px;
  height: 200px;
  border: 2px solid var(--color-beige);
  border-radius: 50%;
}
.home_title,
.home_description {
  color: var(--color-white);
}
.home_contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-beige);
  border: 3px solid var(--color-beige);
  border-radius: var(--size-border-radius);
  margin-top: 20px;
  padding: 5px;
}
.home_contact:hover {
  background-color: var(--color-beige);
  color: var(--color-dark-blue);
  border: 3px solid var(--color-dark-blue);
}

